.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
  min-width: 0;
}

/* Estilos para os dots de navegação */
.embla__dots {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.embla__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  cursor: pointer;
  border: none;
  padding: 0;
}

.embla__dot--selected {
  background-color: white;
}

/* Estilos para os botões de navegação */
.embla__prev,
.embla__next {
  cursor: pointer;
  position: absolute;
  outline: 0;
  border: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease;
}

.embla__prev:hover,
.embla__next:hover {
  background: rgba(0, 0, 0, 0.5);
}

.embla__prev svg,
.embla__next svg {
  width: 1.5rem;
  height: 1.5rem;
}